.chart {
    width:90%;
    height:85%;
    justify-self: center;
    align-self: center;
}

.tooltips {
    font-family: inherit;
    color: white;
    background-color: #282c34;

}

.dropdown{
    margin: 7px;
}
