.image{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
}

.searchArtist {
    min-width: 320px;
    min-height: 420px;
    align-self: center;
    justify-self: center;
}

.form{
    height: 10%;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.circle {
    border: 8px solid #4bb6e6;
    border-radius: 50%;
    min-width: 320px;
    height: 320px;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    line-height: 310px;
    font-size: 50px;
    color: #4bb6e6;

}

@media (max-width: 823px) {
    .circle {
        border: 8px solid #4bb6e6;
        border-radius: 50%;
        min-width: 220px;
        height: 220px;
        width: 220px;
        margin: 0 auto;
        text-align: center;
        line-height: 210px;
        font-size: 30px;
        color: #4bb6e6;
        margin-top: 30px;
    }
}