.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 1em;
  justify-items: center;
  align-items:center;
}

@media (max-width: 768px) {
  .App-body {
    grid-template-columns: 100%;
    grid-gap: 0em;
  }
}

.navbar{
  margin-bottom: 60px;
  font-family: Helvetica;
}

.navbar-links{
  align-items: end;
  justify-items: end;
  justify-content: end;
  align-content: end;
  align-self: end;
}