.App {
  text-align: center;
}

/*@media(min-width: 500px)  {*/
/*}*/

.App-header {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 1em;
  justify-items: center;
  align-items:center;

}

.navbar{
  margin-bottom: 40px;
  font-family: Helvetica;
}

.navbar-image{
  margin-right: 20px;
}